* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oxygen", sans-serif;
    background-color: #F7F7F7;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url("../images/hero.svg") no-repeat center center/cover;
}

#featured {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#stay-in-touch {
    height: 289px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.featured-grid {
    max-width: 940px;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#categories {
    background-color: white;
    margin-bottom: 60px;
}
#most-recent{
    margin-bottom: 90px;
 }

.categories-list a {
    text-decoration: none;
    color: #768088;
    padding: 22px 0;
}

.categories-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.logo {
    font-family: "Lora", serif;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.nav-links a {
    color: white;
    text-transform: uppercase;
    margin: 0 20px;
    text-decoration: none;
    font-size: 12px;
}

.hero-text {
    text-align: center;
}

.hero-text h2 {
    font-family: "Lora", serif;
    font-size: 50px;
    line-height: 51px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 17px;
    color: rgba(255, 255, 255, 63%);
    margin-bottom: 31px;
}

.btn {
    background-color: #DD783F;
    font-size: 13px;
    color: #fff;
    padding: 12px 31px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.section-title {
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #2E2E2E;
}


.section-title::before {
    content: "";
    position: absolute;
    width: 188px;
    height: 1px;
    background-color: rgba(222, 222, 222, 1);
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-2 {
    width: 50%;
    padding: 0 10px;
}

.col-3 {
    width: 33.333333333%;
    padding: 0 10px;
}

.post-card {
    height: 280px;
    background-size: cover;
    background-position: center;
    padding: 19px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.meta-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-card h3 {
    font-family: "Lora", serif;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 6px;
}

.post-card p {
    font-size: 14px;
    opacity: 70%;
    margin-bottom: 12px;
}

.meta-data-author {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.recent-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 291px;
    background-color: rgba(252, 252, 252, 1);
    padding-bottom: 6px;
}

.recent-card-img {
    height: 150px;
    width: 296px;
    background-size: cover;
    background-position: center;
}

.recent-card h3 {
    font-family: "Lora", serif;
    font-weight: 400;
    margin-bottom: 7px;
    font-size: 16px;
    color: rgba(16, 19, 21, 1);
}

.recent-card p {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(122, 122, 122, 1);
}

.bottom-wrapper {
    height: 376px;
    background: url("../images/footer.png") no-repeat center center/cover;
}

.subscribe-from{
    display: flex
}

#stay-in-touch h2 {
    color: white;
}

#stay-in-touch input {
    padding: 18px 208px 18px 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
#stay-in-touch button{
    padding: 18px 45px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(255, 255, 255, 0.28);
    color: white;
    cursor: pointer;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}