* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oxygen", sans-serif;
    background-color: #F7F7F7;
}

.logo-none{
    display: none;
}
.overflow-hidden{
    overflow: hidden;
}

.container-burger{
    padding: 0 !important;
}

a{
    color: inherit;
}
.container {
    max-width: 970px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url("../images/hero.svg") no-repeat center center/cover;
}

#featured {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.meta-post-data span {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

#stay-in-touch {
    height: 289px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.featured-grid {
    max-width: 940px;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#categories {
    background-color: white;
    margin-bottom: 60px;
}

#most-recent {
    margin-bottom: 90px;
}

.meta-data time {
    font-weight: 400;
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
}

#most-recent .col-3 {
    margin-bottom: 25px;
}

.categories-list a {
    text-decoration: none;
    color: #768088;
}

.categories-list {
    padding: 22px 0;
}

.categories-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.logo {
    font-family: "Lora", serif;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.nav-links a {
    color: white;
    text-transform: uppercase;
    margin: 0 20px;
    text-decoration: none;
    font-size: 12px;
}

.hero-text {
    text-align: center;
}

.hero-text h2 {
    font-family: "Lora", serif;
    font-size: 50px;
    line-height: 51px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 17px;
    color: rgba(255, 255, 255, 63%);
    margin-bottom: 31px;
}

.btn {
    background-color: #DD783F;
    font-size: 13px;
    color: #fff;
    padding: 12px 31px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.section-title {
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #2E2E2E;
}


.section-title::before {
    content: "";
    position: absolute;
    width: 188px;
    height: 1px;
    background-color: rgba(222, 222, 222, 1);
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-2 {
    width: 50%;
    padding: 0 10px;
}

.col-3 {
    width: 33.333333333%;
    padding: 0 10px;
}

.post-card {
    height: 280px;
    background-size: cover;
    background-position: center;
    padding: 19px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.meta-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 13px 10px;
    background-color: #FCFCFC;
}

.meta-post-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 13px 10px;
}

.post-card h3 {
    font-family: "Lora", serif;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 6px;
}

.post-card p {
    font-size: 14px;
    opacity: 70%;
    margin-bottom: 12px;
}

.meta-data-author {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.recent-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 252, 252, 1);
    height: 100%;
}

.recent-card-content {
    background-color: white;
    flex: 1;
    padding: 14px 13px 33px;
    border-bottom: 1px solid #EFEFEF;
}

.recent-card-img {
    height: 150px;
}

.recent-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.recent-card h3 {
    font-family: "Lora", serif;
    font-weight: 400;
    margin-bottom: 7px;
    font-size: 16px;
    color: rgba(16, 19, 21, 1);
}

.recent-card p {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(122, 122, 122, 1);
}

.bottom-wrapper {
    background: url("../images/footer.png") no-repeat center center/cover;
}

.subscribe-from {
    display: flex;
    justify-content: center;
}

#stay-in-touch h2 {
    color: white;
}

#stay-in-touch input {
    padding: 18px 208px 18px 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

#stay-in-touch button {
    padding: 18px 45px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(255, 255, 255, 0.28);
    color: white;
    cursor: pointer;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: rgba(35, 47, 56, 0.6);
    padding: 27px 0;
}

.burger {
    display: none;
    justify-content: center;
    position: relative;
    z-index: 100;
    align-items: center;
    width: 30px;
    height: 33px;
}

.open{

}

.burger span {
    height: 2px;
    width: 80%;
    /*transform: scale(1);*/
    background-color: white;
}

.burger::before, .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 80%;
    background-color: white;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 8px;
}

.burger::after {
    bottom: 8px;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
.open{
    display: flex !important;
}

@media screen and (max-width: 992px) {
    .col-2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .col-3 {
        width: 50%;
    }

    .post-card h3 {
        font-size: 18px;
    }

    #stay-in-touch input {
        padding: 18px 123px 18px 35px;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links a {
        margin-left: 0;
    }

    .categories-list {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 540px) {
    .col-3 {
        width: 100%;
    }

    #stay-in-touch button {
        padding: 18px 25px;
    }


    .burger {
        display: flex;
    }
    .top-nav{
        display: flex;
        align-items: flex-start;
    }
    .nav-burger{
        display: flex;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        row-gap:10px;
    }
    .top-menu{
        display: none;
    }

}