
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Satoshi', sans-serif;
    color: rgba(42, 37, 75, 1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

.desktop-hidden {
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
}

.d-none{
    display: none;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-desktop-hidden {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.header_container {
    max-width: 1416px;
}

.header-top {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    align-items: center;
}

.search {
    grid-column: 6 span;
}

.search a{
    display: flex;
}

.header-links {
    grid-column: 6 span;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.logo {
    grid-column: 1 span;
}

.header-nav ul {
    display: flex;
    justify-content: center;
    gap: 44px;
    padding: 20px 0;
}

.header-nav ul li a:hover {
    color: rgb(10, 31, 129);
}

#hero {
    padding: 60px 0;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.hero-content {
    padding: 60px;
    background-color: rgba(42, 37, 75, 1);
    color: white;
    height: 584px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-content h1 {
    font-size: 32px;
    max-width: 513px;
    margin-bottom: 41px;
}

.hero-content p {
    font-size: 18px;
    max-width: 602px;
    margin-top: auto;
}

.btn {
    padding: 16px 32px;
    font-size: 16px;
    transition: 0.3s;
}

.btn-under-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 249, 249, 1);
}

.btn-under-section button:hover {
    background-color: rgba(42, 37, 75, 1);
    color: white;
}

.btn-primary {
    color: white;
    background-color: rgba(249, 249, 249, 0.15);
}

.btn-secondary {
    background-color: rgba(249, 249, 249, 1);
    color: rgba(42, 37, 75, 1);
    line-height: 150%;
}

.btn-form {
    background-color: rgba(42, 37, 75, 1);
    color: rgba(255, 255, 255, 1);
}

.footer-btn {
    background-color: rgba(255, 255, 255, 1);
}

.btn-form:hover {
    background-color: rgb(106, 65, 181);
    color: white;
}

.btn-secondary:hover {
    background-color: rgba(42, 37, 75, 1);
    color: white;
}

.btn-primary:hover {
    color: rgba(42, 37, 75, 1);
    background-color: rgba(255, 255, 255, 1);
}

.footer-btn:hover {
    background-color: rgb(106, 65, 181);
    color: rgba(255, 255, 255, 1);
}

.hero-img {
    background: url("../images/parent.png") no-repeat center center/cover;
}

#seller-points {
    height: 355px;
}

#seller-points h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 51px;
}

.points-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 59px;
}

.points-grid svg {
    max-width: 24px;
    margin-bottom: 16px;
}

.points-grid h3 {
    font-size: 20px;
}

.ceramics-item h3, .products-item h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.ceramics-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 35px;
}

#new-ceramics {
    padding-bottom: 80px;
}

#new-ceramics h2, #our-products h2 {
    font-size: 32px;
    margin-bottom: 33px;
}

.ceramics-item:nth-child(1) .ceramic-img {
    height: 462px;
    background: url("../images/parent.png") no-repeat center center/cover;
    margin-bottom: 24px;
}

.ceramics-item:nth-child(2) .ceramic-img {
    height: 462px;
    background: url("../images/vases.png") no-repeat center center/cover;
    margin-bottom: 24px;
}

.ceramics-item:nth-child(3) .ceramic-img {
    height: 462px;
    background: url("../images/vase.png") no-repeat center center/cover;
    margin-bottom: 24px;
}

.ceramics-item:nth-child(4) .ceramic-img {
    height: 462px;
    background: url("../images/chandelier.png") no-repeat center center/cover;
    margin-bottom: 24px;
}

.ceramics-item, .products-item h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.btn-under-section {
    display: flex;
    justify-content: center;
}

#our-products h2 {
    font-size: 32px;
}

.grid-products {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 35px;
}

.background-1 {
    height: 375px;
    background: url("../images/sofa.png") no-repeat center center/cover;
    margin-bottom: 24px;
}

.background-2 {
    height: 375px;
    background: url("../images/parent.png") no-repeat center center/cover;
    margin-bottom: 24px;
}

.background-3 {
    height: 375px;
    background: url("../images/chair.png") no-repeat center center/cover;
    margin-bottom: 24px;
}

#form {
    background-color: rgba(249, 249, 249, 1);
    margin-top: 64px;
    padding: 52px 0 65px 0;
}

.flex-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 68px 0 54px 0;
}

.flex-form h2 {
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 18px;
}

.flex-form p {
    line-height: 150%;
    margin-bottom: 72px;
    max-width: 470px;
}

.email input {
    width: 354px;
    padding: 17px 32px;
    border: none;
    background-color: rgba(249, 249, 249, 1);
}

#features {
    position: relative;
    padding: 72px 0 54px;
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}


.feature-content h2 {
    max-width: 514px;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 25px;
}

.feature-info {
    max-width: 514px;
    color: rgba(80, 89, 119, 1);
    margin-bottom: 25px;
}

.feature-content .btn-secondary {
    margin-top: 171px;
}

.feature-img {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    bottom: 0;
    background: url("../images/feature-img.png") no-repeat center center/cover;
}

.footer {
    background-color: rgba(42, 37, 75, 1);
    color: white;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    padding: 58px 0px 48px;
    border-bottom: 1px solid rgba(78, 77, 147, 1);
}

.footer-item-title {
    margin-bottom: 12px;
}

.footer-menu-list-item a {
    font-size: 14px;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-item form {
    display: flex;
}

.footer-item input {
    flex: 1;
    padding: 17px 32px;
    background-color: rgba(255, 255, 255, 0.15);
}

#email-footer-input {
    color: white;
}

#email-footer-input::placeholder {
    color: white;
}

.footer-bottom {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    column-gap: 24px;
}


.burger {
    display: none;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
    width: 16px;
    height: 16px;
}

.burger span {
    height: 1px;
    width: 100%;
    transform: scale(1);
    background-color: rgba(42, 37, 75, 1);
}

.burger::before, .burger::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgba(42, 37, 75, 1);
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0
}

.burger::after {
    bottom: 0
}

.burger.active span {
    transform: scale(0)
}

.burger.active::before {
    top: 40%;
    height: 2px;
    transform: rotate(45deg);
}

.burger.active::after {
    top: 40%;
    height: 2px;
    transform: rotate(-45deg);
}

.open {
    display: flex !important;
}

@media screen and (max-width: 992px) {
    .desktop-hidden {
        display: block;
    }

    #hero {
        padding: 0 0 48px 0;
    }

    .container-desktop-hidden {
        padding: 0;
    }

    .hero-img {
        display: block;
    }

    .hero-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero-content button {
        order: 1;
    }

    .hero-content {
        padding: 40px 24px 24px;
        height: 502px;
    }

    .hero-content h1 {
        max-width: 342px;
        margin-bottom: 80px;
    }

    .hero-content p {
        max-width: 342px;
        margin-bottom: 32px;
    }

    .points-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #seller-points {
        height: 757px;
    }

    .ceramics-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 35px;
    }

    .email {
        display: flex;
    }

    .email input {
        max-width: 224px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
        height: 828px;
    }

    #features {
        padding: 0 0 54px;
    }

    .feature-img {
        height: 356px;
        width: 100%;
    }

    .feature-content h2 {
        max-width: 274px;
        font-size: 20px;
    }

    .feature-info {
        font-size: 14px;
        max-width: 100%;
        margin-bottom: 12px;
    }

    .feature-btn button {
        display: flex;
        justify-content: center;
    }

    .feature-content .btn-secondary {
        margin-top: 39px;
    }

    .feature-content:nth-child(1) .feature-info {
        margin-bottom: 25px;
    }

    .footer-top {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-top .footer-item:nth-child(1) {
        width: 50%;
    }

    .footer-top .footer-item:nth-child(2) {
        width: 50%;
        order: -1;
        margin-bottom: 40px;
    }

    .footer-top .footer-item:nth-child(3) {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-top .footer-item:nth-child(4) {
        width: 100%;
    }

    .social-links {
        display: none;
    }

    .copyright {
        margin: 0 auto;
    }

    .footer-bottom {
        padding: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .header-top {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .logo {
        order: -1;
        font-size: 24px;
    }

    .search {
        margin-left: auto;
    }

    .header-links a:nth-child(1) {
        display: none;
    }

    .header-links a:nth-child(2) {
        display: none;
    }

    .burger {
        display: flex;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .header-nav {
        display: none;
    }

    .open {
        height: 100vh;
        overflow: hidden;
    }

    .open ul {
        flex-direction: column;
        justify-content: flex-start;
        gap: 22px;
    }

    .hero-img {
        display: none;
    }

    .hero-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    #seller-points h2 {
        text-align: start;
    }

    #new-ceramics h2 {
        font-size: 20px;
    }

    .ceramics-item:nth-child(1) .ceramic-img {
        height: 201px;
    }

    .ceramics-item:nth-child(2) .ceramic-img {
        height: 201px;
    }

    .ceramics-item:nth-child(3) .ceramic-img {
        height: 201px;
    }

    .ceramics-item:nth-child(4) .ceramic-img {
        height: 201px;
    }

    .ceramics-item, .products-item h3 {
        font-size: 20px;
    }

    .ceramics-item p {
        font-size: 18px;
    }

    .btn-under-section button {
        width: 100%;
    }

    #our-products h2 {
        font-size: 20px;
    }

    .grid-products {
        margin-bottom: 32px;
    }

    .background-1 {
        height: 251px;
    }

    .background-2 {
        height: 251px;
    }

    .background-3 {
        height: 251px;
    }

    .products-item h3 {
        font-size: 20px;
    }

    .products-item p {
        font-size: 18px;
    }

    #form {
        padding: 0;
        margin-top: 15px;
    }

    .flex-form h2 {
        font-size: 20px;
        text-align: start;
        width: 329px;
    }

    .flex-form p {
        text-align: start;
        font-size: 14px;
        width: 329px;
    }

    .btn-secondary {
        width: 100%;
    }

    .feature-grid {
        height: 687px;
    }

}
