* {
    margin: 0;
    padding: 0;
}

.btn{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    color: white;
    background: rgb(0,100, 250);
    margin: 50px;
    cursor: pointer;

}
.closeBtn{
    color: white;
    cursor: pointer;
    float: right;
    font-size:20px;
}
.modal.modal-visible {
    display: flex;
}

.modal {
    background: rgba(0,0,0, 0.2);
    display: none;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
}

.modal-wrapper {
    max-width: 500px;
    top: 15%;
    background-color: #3580e3;
    position: absolute;
    animation-name:modalopen;
    animation-duration:.8s;

}

.modal-header, .modal-body  {
    padding: 5px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-header {
    text-align: center;
    color: white;
}

.modal-body {
    background: white;
}

@keyframes modalopen{
    from {
        opacity: 0;
        top: 15%;
        transform: rotateX(15deg);
    }
    to {
        opacity: 1;
        top: 15%;
        transform: rotateX(0deg);
    }
}
